.testimonials-box {
    display: flex;
    justify-content: center;
    height: 370px;
    background-color: #faf9f9;
}

.testimonials-content {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.testimonails-text {
    font-size: 18px;
    color: #767272;
    text-align: center;
    line-height: 2;
}

.testimonails-name {
    font-size: 16px;
    color: #4b4848;
    padding-top: 15px;
    font-weight: 600;
    margin: 2px;
}

.testimonails-office {
    font-size: 14px;
    color: #6f6d6d;
    margin: 0px;
}